*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.app-container{
  background-color: #9ba9eb;
  padding: 20px 100px;
  min-height: 100vh;
}
.app-logo{
  height: 50px;
}
.form-container{
  background-color: #5763a5;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.form{
  background-color: #454f84;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}
.password-manager{
  height: 350px;
  width: 350px;
}
.user-name-container{
  background-color: white;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
}
.logo{
  height: 20px;
  width: 20px;
  margin: 5px;
}
.input{
  background-color: transparent;
  border: 0;
  outline: none;
  border-left: 1px solid #94a3b8;
  height: 35px;
  padding: 10px;
  width: 100%;
}
.password-heading{
  color: #f8fafc;
  font-size: 20px;
}
.add-btn-container{
  text-align: right;
}
.add-btn{
  background-color: #0b69ff;
  color: #ffffff;
  border: 0;
  outline: none;
  height: 30px;
  width: 60px;
  border-radius: 3px;
}
.password-container{
  background-color: #5763a5;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.password{
  color: #ffffff;
}
.count{
  background-color: transparent;
  padding: 1px 3px;
  color: #f97316;
  font-weight: 500;
}
.search-container{
  background-color: white;
  height: 35px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.checbox-container{
  text-align: right;
}
.show-password-text{
  color: #ffffff;
  margin-bottom: 10px;
}
.checkbox{
 height: 15px;
 width: 15px;
 
}
.no-passwords-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.no-passwords-image{
  height: 250px;
  width: 400px;
}
.para{
  color: #ffffff;
}
.passsword-list-container{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.stars{
  
  width: 100px;
}